
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: green; }

body input:required:valid,
body textarea:required:valid {
  color: red; }

.hidden {
  display: none; }


//Custom Styles Here


